<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles-intro.css">
    <link rel="icon" href="img/icon/WINE.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/Normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Work+Sans:wght@100;200;300;400&display=swap" rel="stylesheet">    <title>VIINO</title>
</head>

<body>
   
    <header class="main-header">
        <div class="main-header-top-bar">
            <a class="burger"><img src="img/icon/burger.svg" alt="burger menu"></a>
            <a class="lupe"><img src="img/icon/lupe.svg" alt=""></a>
            <a href="/"class="logo">VIINO</a>
            <a class="bag"><img src="img/icon/bag.svg" alt=""></a>
        </div>
        
            <nav class="barra-inferior">
            <ul type="none">
                <li><a href="">NOSOTROS</a></li>
                <li><a href="">FAVORITOS</a></li>
                <li><a href="">SHOP</a></li>
                <li><a href="">TINTOS</a></li>
                <li><a href="">BLANCOS</a></li>
                <li><a href="">BODEGAS</a></li>
                <li><a href="">OTROS</a></li>
                <li><a href="">NOVEDADES</a></li>
                <li><a href="">SELECCION</a></li>
            </ul>
        </nav>
        
    </header>


    <main>

            <div class="age">
                <h2>Tienes que ser mayor de 18 años para poder seguir</h2>
                <p><a href="/">Aceptar</a></p> <p>Salir del sitio</p>
            </div>
            

            <div>
                <img class="image-home" src="img/index/brindis-vino-tinto.png" alt="">
            </div>
            <div class="nosotros">
            <section class="nosotros">
                <h2 id="nosotros">Nosotros</h2>
                <p id=subtitle>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum magnam 
                    sunt nulla repudiandae consequatur tempora molestias, fugit amet quae quis 
                    vel velit atque corrupti, quo voluptatem dignissimos doloribus earum.</p>
                <p id="comment">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia iste voluptatem!"</p>
                <p id="sommelier"><b>- Importante Sommelier</b></p>
            </section>
        </div>


            <section>
                <h2 class="section">Los más vendidos...</h2>
                <div class="articulos">
                    <article>                                        
                        <img class="imagen" src="img/product-img/Pielihueso-Naranjo.png" alt=>         
                        <div class="caja">                           
                        <div class="subcaja">
                        <p class="descripcion">NARANJO 2020</p>
                        <p class="precio">$2500</p>       
                        <p class="agregar">AGREGAR</p>            
                    </article>


            
                    <article>                                        
                        <img class="imagen" src="img/product-img/malbec-primero-2019.png" alt=>         
                        <div class="caja">                           
                        <div class="subcaja">
                        <p class="descripcion">MALBEC PRIMERO</p>
                        <p class="precio">$2500</p>       
                        <p class="agregar">AGREGAR</p>            
                    </article>        
                    </div>
            </section>


            <section>
                <h2 class="section">Los más premiados...</h2>
                <div class="articulos">
                    <article>                                        
                        <img class="imagen" src="img/product-img/Pielihueso-Naranjo.png" alt=>         
                        <div class="caja">                           
                        <div class="subcaja">
                        <p class="descripcion">NARANJO 2020</p>
                        <p class="precio">$2500</p>       
                        <p class="agregar">AGREGAR</p>            
                    </article>


            
                    <article>                                        
                        <img class="imagen" src="img/product-img/malbec-primero-2019.png" alt=>         
                        <div class="caja">                           
                        <div class="subcaja">
                        <p class="descripcion">MALBEC PRIMERO</p>
                        <p class="precio">$2500</p>       
                        <p class="agregar">AGREGAR</p>            
                    </article>        
                    </div>
            </section>


            <section>
                <h2 class="section">Productos recomendados para vos...</h2>
                <div class="articulos">
                    <article>                                        
                        <img class="imagen" src="img/product-img/Noemia-A-Lisa.png" alt=>         
                        <div class="caja">                           
                        <div class="subcaja">
                        <p class="descripcion">NARANJO 2020</p>
                        <p class="precio">$2500</p>       
                        <p class="agregar">AGREGAR</p>            
                    </article>


            
                    <article>                                        
                        <img class="imagen" src="img/product-img/Riccitelli-Kung-Fu-Tinto.png" alt=>         
                        <div class="caja">                           
                        <div class="subcaja">
                        <p class="descripcion">MALBEC PRIMERO</p>
                        <p class="precio">$2500</p>       
                        <p class="agregar">AGREGAR</p>            
                    </article>        
                    </div>
            </section>
            
            

            <section>
                <div class="square">
                <h2>Medios de pagos</h2>
                <img class="medios-de-pago" src="img/index/medios-de-pago.png" alt=> 
                </div>
                </section>


            <section>
                <div class="square">
                <h2>Formas de Envío</h2>           
                    <div id="truck">
                    <i id="camion"  class="fas fa-truck"></i>
                    <i id="camion"class="fas fa-truck-pickup"></i>            
                        </div>
                
                </div>
            </section>


            <section class="novedades">
                <h2 id="novedades">Novedades</h2>
                <p id="suscribite">Suscribite para más novedades</p>
                <div>
                <form id="caja-mail" action="/crear-usuario" method="POST">
                <input id="mail" type="email" name="email" placeholder="usuario@viino.com">
                </form>
        </div>
                </section>
   
    </main>


    <footer class="footer" style="opacity: 1;">
        <h2 class="footer-title">VIINO</h2>
        <section class="footer-content">
            <h3>NUESTRO LOCAL</h3>
            <p>Av Forest 4444, Colegiales, Ciudad Autonoma de Buenos Aires, Argentina.</p>
            
            <h3>CONTACTO</h3>
            <p>+549114444444</p>
            <p>info@viino.com.ar</p>
            
            <h3>INFORMACION</h3>
            <p>FAQs</p>
            <p>Legales</p>
            <p>Política de privacidad</p>
        </section>
        <div class="social-networks">
            <img src="img/icon/facebook.svg" alt="Contacto facebook">
            <img src="img/icon/youtube.svg" alt="Contacto youtube">
            <img src="img/icon/instagram.svg" alt="Contacto instagram">
            <img src="img/icon/whatsapp.svg" alt="Contacto whatsapp">
        </div>

    </footer>
</body>
</html>