<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-product.css">
    <link rel="icon" href="img/WINE.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <title>VIINO</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a class="burger"><img src="img/burger.svg" alt="burger menu"></a>
            <a class="lupe"><img src="img/lupe.svg" alt=""></a>
            <a href="/"class="logo">VIINO</a>
            <a class="bag"><img src="img/bag.svg" alt=""></a>
        </div>
        <nav>
            <ul>
                <li><a href="">NOSOTROS</a></li>
                <li><a href="">FAVORITOS</a></li>
                <li><a href="">SHOP</a></li>
                <li><a href="">TINTOS</a></li>
                <li><a href="">BLANCOS</a></li>
                <li><a href="">BODEGAS</a></li>
                <li><a href="">OTROS</a></li>
                <li><a href="">NOVEDADES</a></li>
                <li><a href="">SELECCION</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">

        <div class=main-title-container>
            <a href="" class="back-arrow"><img src="img/arrow.svg" alt=""></a>
            <h1 class="main-title">SHOP</h1>
            <a href="" class="product-order">
                <span> ordenar <img src="img/downarrow.svg" class="order-arrow" alt="extend-order"></span>
            </a>
        </div>
        <ul class="shop-search-filters">
            <li><a href="">TODOS</a></li>
            <li><a href="">TINTOS</a></li>
            <li><a href="">BLANCOS</a></li>
            <li><a href="">OTROS</a></li>
        </ul>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
    </main>
    <footer class="foot">

    </footer>
</body>
</html>