<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-product.css">
    <link rel="icon" href="img/WINE.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <title>VIINO</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a class="burger"><img src="img/burger.svg" alt="burger menu"></a>
            <a class="lupe"><img src="img/lupe.svg" alt=""></a>
            <a href="/"class="logo">VIINO</a>
            <a class="bag"><img src="img/bag.svg" alt=""></a>
        </div>
    </header>
    <main class="main">
        
    </main>
    <footer class="foot">

    </footer>
</body>
</html>