<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-product.css">
    <link rel="icon" href="img/icon/WINE.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Work+Sans:wght@100;200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a class="burger"><img src="img/icon/burger.svg" alt="burger menu"></a>
            <a class="lupe"><img src="img/icon/lupe.svg" alt=""></a>
            <a href="/"class="logo">VIINO</a>
            <a class="bag"><img src="img/icon/bag.svg" alt=""></a>
        </div>
        <nav>
            <ul>
                <li><a href="">NOSOTROS</a></li>
                <li><a href="">FAVORITOS</a></li>
                <li><a href="">SHOP</a></li>
                <li><a href="">TINTOS</a></li>
                <li><a href="">BLANCOS</a></li>
                <li><a href="">BODEGAS</a></li>
                <li><a href="">OTROS</a></li>
                <li><a href="">NOVEDADES</a></li>
                <li><a href="">SELECCION</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">

        <div class=main-title-container>
            <a href="" class="back-arrow"><img src="img/icon/arrow.svg" alt=""></a>
            <h1 class="main-title">VOLVER</h1>
            <a href="" class="favourite">
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path clas="fav-heart"d="M7.56137 2.72238L7.99999 3.52397L8.43862 2.7224C8.68343 2.27503 9.09122 1.67638 9.69004 1.21327L9.38416 0.81775L9.69004 1.21327C10.3061 0.736799 10.9951 0.5 11.75 0.5C13.8593 0.5 15.5 2.21889 15.5 4.60981C15.5 5.8756 14.9987 6.96181 14.044 8.11387C13.0766 9.28122 11.6825 10.4713 9.94579 11.9514L9.94578 11.9514L9.94553 11.9516C9.35949 12.451 8.69308 13.019 8 13.6251L7.99997 13.6251L8.00027 13.6253L8.00002 13.6251C8.00001 13.625 8.00001 13.625 8 13.625C7.99999 13.625 7.99999 13.625 7.99998 13.625C7.30742 13.0194 6.6414 12.4518 6.05598 11.9529L6.0546 11.9517L6.05459 11.9517C4.31765 10.4715 2.92353 9.2813 1.95606 8.11391C1.00127 6.96181 0.5 5.87559 0.5 4.60981C0.5 2.21889 2.14075 0.5 4.25 0.5C5.00495 0.5 5.69387 0.736799 6.30996 1.21327L6.61584 0.81775L6.30996 1.21327C6.90878 1.67639 7.31657 2.27501 7.56137 2.72238Z" fill="white" stroke="black"/>
                </svg>
            </a>
        </div>
        <div class="extended-product">
            
        </div>


        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit adipisci natus nobis ex! Aspernatur sint nihil suscipit modi pariatur maiores dolore quis aut sequi quasi, est, ipsum voluptates non eum quia quos aliquid hic temporibus ea neque error enim dolorum iste voluptatem! Quaerat molestiae quis dolorum, consectetur laudantium quas eaque excepturi magni, voluptatem nihil rem adipisci vitae voluptatibus ullam quam! Sapiente, provident. Voluptatem, enim in cum porro ex tempora exercitationem dolore ipsa quia! Praesentium reiciendis minus dolores placeat eum architecto molestias ex consectetur voluptatum repellat? Officia, aut doloremque laboriosam accusantium doloribus hic fuga! Modi consequatur minus exercitationem, maiores perferendis quisquam!</p>
    </main>
    <footer class="foot">

    </footer>
</body>
</html>