* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
}


/* HEADER */

.main-header {
    margin: 0px;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: black;
}

.main-header-top-bar {
    background-color: black;
    padding: 0 2px;
    height: 50px;
    position: relative;
}

a {
    text-decoration: none;
}

.burger {
    height: 50px;
    text-align: center;
    padding: 16px 14px;
    position: absolute;
    cursor: pointer;
}

.lupe {
    height: 50px;
    text-align: center;
    padding: 16px 13px;
    position: absolute;
    left: 46px;
    cursor: pointer;
}

.logo {
    font-family: 'Times New Roman', serif;
    font-size: 36px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 46px;
    width: 110px;
    text-align: center;
    cursor: pointer;
    top: 4px;
}

.bag {
    height: 50px;
    text-align: center;
    padding: 13px 17px;
    position: absolute;
    right: 2px;
    cursor: pointer;
}

nav{
    display: none;   
    text-decoration: none;
    color: black
}


/* BODY */

/* MAIN TITLE CONTAINER */

.main-title-container {
    display:flex;
    margin: 28px 6.8%;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}

.back-arrow img {
    padding: 4px 0px 0px;
    margin: 4px 0px;
}

.main-title {
    font-size: 16px;
    letter-spacing: .5em;
}

.main-title a {
    text-align: center;
}


/* SHOPPING CART */ 
/* (aunque usamos el icono de shopping bag) */

.cart {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 14px;
}

/* PRODUCT */ 

.product {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* aunque saque max-width el ancho no se modifica
       espero entender porque sucede eso,algun dia*/
    max-width: 360px; 

}

.product-image {
    right: 13px;
    height: 180px;
    margin: 6px 15px;
}

.product h3 {
    font-family: 'Times New Roman', serif;
    font-weight: 200;
    font-size: 16px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.price {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}


/* THE LITTLE BUTTONS*/

.little-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.remove-x {
    margin-top: 15px;
    border: none;
    font-size: 12px;
}

.qty-box{
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 30px;
}

.minusplus {
    border: none;
    font-size: 20px;
}


input.qty {
    /* para que todos los numeros de la pagina tengan el mismo font*/
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 16px;
    font-weight: bold; /* sin esto queda color gris*/
    border: none;
    text-align: center;
}

/* remove arrows/spinners from input type number*/
/* Chrome, Safari, Edge, Opera */
/* espero que solo prueben con estos!*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* para que no aparezca borde amarillo 
   cuando se clickea ahi - when it gets focus (clicked on)
   (la explicacion es mas clara en ingles)*/

input.qty:focus {
    outline: none !important;
    box-shadow: 0 0 10px #b3b6b9;
  }

/* THE BIG BUTTONS*/

.big-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.black-button {
    width: 100%;
    max-width: 360px; /* o el maximo valor de celular*/
    font-weight:500;
    color: white;
    background-color: black;
    margin: 5px;
    /* estilos copiados de sebastian*/
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    letter-spacing: .5em;
    text-align: center;
}

.white-button {
    width: 100%;
    max-width: 360px; /* o el maximo valor de celular*/
    font-weight:500;
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    /* estilos copiados de sebastian*/
    height: 35px;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    letter-spacing: .5em;
    text-align: center;
}


/* FOOTER */

footer {
    position: relative;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
    background-color: black;
    opacity: 1;
    overflow: scroll;
    min-height: 770px;
    max-height: 1000px;
    z-index: 200;
    color: white;
    padding: 20px 6.8% 0px;
}

.footer-title {
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    margin: auto;
    margin-top: 30%;
    margin-bottom: 38%;
    font-weight: 300;
}

footer h3 {
    font-size: 14px;
    letter-spacing: .5em;
    font-weight: 400;
    margin: 30px 0px 18px;
}

footer p {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .1em;
    margin: 0px 0px;
}

.footer-content {
    height: 42%;
    padding-bottom: 10%;
    border-bottom: solid 1px rgba(255, 255, 255, 60%);
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 80px;
}

.social-networks img {
    color: rgba(255, 255, 255, 60%);
}



@media (max-width: 361px) {

/* para que no se deforme la qty-box
   (debe haber soluciones mas elegantes pero, por ahora,
   las desconozco )*/

  .product h3 {
        max-width: 140px;
  }

}

/* @media copiadas de sebastian, para respetar tamaños 
   con modificaciones */

@media (min-width: 521px) {

    .main-title-container {
        margin: 28px 5%;
    }

}

@media (min-width: 684px) {

    .main-header-top-bar {
        width: 678px;
        margin:auto;
    }

    .main-title-container {
        margin: 28px auto;
        width: 678px;
    }

    .cart {
        width: 690px;
        margin: auto;
    }

    .product {
        margin: 10px 4px;
    }

    
    .footer-title {
        margin-top: 16%;
        margin-bottom: 18%;
    }
}

@media (min-width: 900px) {

    .main-header-top-bar {
        width: 744px;
        margin:auto;
    }

    .main-title-container {
        margin: 28px auto;
        width: 744px;
    }

    .cart {
        width: 778px;
        margin: auto;
    }

    .product {
        margin: 10px 4px;
    }

    
    .footer {
        height: 100vh;
    }

    .footer-content{
        padding-bottom: initial;
        height: 36%;
        width: 1000px;
        margin: auto;
        padding: 0px 60px;
    }
    
    footer h3 {
        margin: 28px 0px 16px;
    }

    .footer-title {
        margin-top: 12%;
        margin-bottom: 14%;
    }

    .social-networks {
        max-width: 744px;
        margin: 16px auto 20px;
    }
}
