* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}
a {
    text-decoration: none;
}

.main-header {
    margin: 0px;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: black ;
    height: 50px;
}

.main-header-top-bar {
    background-color: black;
    padding: 0 2px;
    height: 50px;
    position: relative;
}

.burger {
    height: 50px;
    text-align: center;
    padding: 16px 14px;
    position: absolute;
    cursor: pointer;
}

.lupe {
    height: 50px;
    text-align: center;
    padding: 16px 13px;
    position: absolute;
    left: 46px;
    cursor: pointer;
}

.logo {
    font-family: 'Times New Roman', serif;
    font-size: 42px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 150px;
    text-align: center;
    cursor: pointer;
    top: 1px;
}

.user {
    display: none;
    height: 50px;
    text-align: center;
    padding: 13px 17px;
    position: absolute;
    right: 60px;
    cursor: pointer;
}

.bag {
    height: 50px;
    text-align: center;
    padding: 13px 17px;
    position: absolute;
    right: 2px;
    cursor: pointer;
}

.main-header-bottom-bar{
    display: none;   
    text-decoration: none;
}



main {
    padding: 30px;
    font-size: 14px;    
    margin: auto;
    display: flex;
    justify-content: center
    
}
.foto {
    display:none;
    position: relative; 
    width: 385px;
    margin-top: 35px;
}
img {
    width: 100%;
}

.texto {
    max-width: 360px;
    
}

.flecha-titulo {
    display: flex;
    position: relative;
    align-items: center;
}
.flecha {
    width: 50px;
    position: absolute;
    left: 15px;
}
.titulo {
    text-align: center;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
}
.accion {
    display: flex;
    justify-content:space-between;
    font-weight:500 ;
    border: 1px solid black;    

}
.iniciarSesion {
    background-color: black;
    color: white;
    padding: 10px;
    flex-grow: 0.5;
    text-align: center;
}
.registrarse {
    padding: 10px;
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

}



.campoEncuenta {
    margin-bottom: 15px;
    display: block;
}
label {
    font-style: italic;
}
.barra {
    width: 100%;
    padding: 15px 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 15px 10px;
    font-weight:500;
    color: white;
    background-color: black;
    border:none
}

.texto-error {
    color: red;
    margin-top: 2px;
    font-weight: bolder;
}

.olvidaste {
    font-weight: 300;
    text-align: left;
}
footer {
    opacity: 1;
    position: relative;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
    background-color: black;
    opacity: 1;
    overflow: scroll;
    min-height: 770px;
    max-height: 1000px;
    z-index: 200;
    color: white;
    padding: 20px 6.8% 0px;
}

.footer-title {
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 62px;
    margin: auto;
    margin-top: 30%;
    margin-bottom: 38%;
    font-weight: 300;
    text-decoration: none;
}

footer h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .3em;
    margin: 30px 0px 18px;
}

footer p {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .1em;
    margin: 0px 0px;
}

footer a {
    color: white;
}



.footer-content {
    height: 42%;
    padding-bottom: 10%;
    border-bottom: solid 1px rgba(255, 255, 255, 60%);
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 80px;
}

.social-media img {
    color: rgba(255, 255, 255, 60%);
}

@media (min-width: 684px) {
    .main-header-top-bar {
        max-width: 92vw;
        margin: auto;
    }

    .bag {
        right: 8px;
    }

    .user {
        display: initial;
    }
    .footer {
        height: 100vh;
    }

    .footer-content{
        padding-bottom: initial;
        width: 640px;
        height: auto;
        margin: 0 auto ;
        padding: 0px 60px 50px;
    }

    footer h3 {
        margin: 28px 0px 16px;
    }

    .footer-title {
        margin-top: 16vh;
        margin-bottom: 20vh;
        font-size: 72px;
    }

    .social-media {
        max-width: 744px;
        margin: 36px auto 10px;
    }
}

@media (min-width: 900px) {
    .main-header-bottom-bar {
        display: block;
        position: sticky;
        top: 60px;
        background-color: rgba(0, 0, 0, 50%);
        height: 20px;
        opacity: .2;
    }

    .main-header-bottom-bar:hover {
        opacity: 1;
        transition: 450ms;
    }

    .main-header-bottom-bar ul{
        display: flex;
        justify-content: space-evenly;
    }

    .main-header-bottom-bar ul li {
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        letter-spacing: .3em;
        align-self: stretch;
        text-align: center;
        text-decoration: none;
    }
    .main-header-bottom-bar ul li a {
        color:white;
    }

    .burger {
        display: none;
    }
    .lupe{
        position: absolute;
        left: 8px;
    }
    
    
}



@media (min-width:1280px) {
    .main-header {
        height: 60px;
    }

    .main-header-top-bar {
        max-width: 78vw;
        margin: auto;
        height: 60px;
    }

    .main-header-bottom-bar {
        top: 60px;
    }

    .lupe img {
        width: 20px;
    }

    .lupe {
        position: absolute;
        left: 0px;
        top: 4px;
    }

    .user img {
        width: 22px;
    }

    .user {
        right: 60px;
        top: 6px;
    }

    .bag img {
        width: 18px;
    }

    .bag {
        top: 6px;
        right: 0px;
    }

    .logo {
        font-size: 50px;
    }
    main {
        justify-content: space-evenly;
    }
    .foto {
        display: initial;
        
    }
    .footer-title {
        margin-top: 16vh;
        margin-bottom: 20vh;
        font-size: 78px;
    }

    .footer-content {
        width: 900px;
    }
  

 
    
}