* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}



header {
    padding: 15px 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-search {
    margin-left: 10px;
}
.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    
}
main {
    padding: 10px;
    font-size: 14px;    
    margin: auto;
    display: flex;
    justify-content: center
    
}
.foto {
    display:none;
    position: relative; 
    width: 385px;
    margin-top: 35px;
}
img {
    width: 100%;
}

.texto {
    max-width: 360px;
    
}

.flecha-titulo {
    display: flex;
    
    align-items: center;
    

}
.fa-arrow-left {
    position: relative;
    left: 65px;


}
.titulo {
    text-align: center;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    
}
.accion {
    display: flex;
    justify-content:space-between;
    font-weight:500 ;
    border: 1px solid black;    

}
.iniciarSesion {
    background-color: black;
    color: white;
    padding: 10px;
    flex-grow: 0.5;
    text-align: center;
}
.registrarse {
    padding: 10px;
    flex-grow: 0.5;
    text-align: center;
}

.campoEncuenta {
    margin-bottom: 15px;
    display: block;
}
label {
    font-style: italic;
}
.barra {
    width: 100%;
    padding: 15px 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 15px 10px;
    font-weight:500;
    color: white;
    background-color: black;
    border:none
}
.olvidaste {
    font-weight: 300;
    text-align: left;
}
footer {
    padding: 10px;
    background-color: black;
    color: white;
}
.logoFooter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
}

.infoFooter {
    font-weight: lighter;
    
}
.iconosRedes {
    border-top: white 1px solid;
    padding-top: 10px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width:769px) {
    .sectionFooter {
        display: flex;
        flex-wrap: wrap;
        
    }
    .parteFooter {
        width: 33%;
        text-align: center;
    }
/*     #saltoFooter {
        display: none;
    } */
   
    
}

@media (min-width:1280px) {
    main {
        justify-content: space-evenly;
    }
    .foto {
        display: initial;
        
    }
 
    
}