<footer class="footer" style="opacity: 1;">
    <h2 class="footer-title">VIINO</h2>
    <section class="footer-content">
        <h3>NUESTRO LOCAL</h3>
        <p>Av Forest 4444, Colegiales, Ciudad Autonoma de Buenos Aires, Argentina.</p>
        
        <h3>CONTACTO</h3>
        <p>+549114444444</p>
        <p>info@viino.com.ar</p>
        
        <h3>INFORMACION</h3>
        <p>FAQs</p>
        <p>Legales</p>
        <p>Política de privacidad</p>
    </section>
    <div class="social-networks">
        <img src="/img/icon/facebook.svg" alt="Contacto facebook">
        <img src="/img/icon/youtube.svg" alt="Contacto youtube">
        <img src="/img/icon/instagram.svg" alt="Contacto instagram">
        <img src="/img/icon/whatsapp.svg" alt="Contacto whatsapp">
    </div>

</footer>